.social-login
    .divider
    a(href=routes.github)
        button.social-login--github
            span
                i.fab.fa-github
            |  Continue with Github
    a(href=routes.facebook)        
        button.social-login--facebook
            span
                i.fab.fa-facebook-square
            |  Continue with Facebook
    a(href=routes.instagram)
        button.social-login--instagram(disabled)
            span
                i.fab.fa-instagram
            |   Continue with Instagram    
