.header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 0px 10px;
    padding-right: 0px;
    background-color: $red;
    margin-bottom: 50px;

    .header__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-content: center;
        align-items: center;

        .header__column {
            width: 100%;

            i {
                color: white;
                font-size: 40px;
            }

            &:nth-child(2) {
                justify-self: center;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                color: white;
                text-transform: uppercase;

                li {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    align-items: center;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    i {
                        position: relative;
                        font-size: 30px;
                        color: rgba(255, 255, 255, 0.5);
                        z-index: 0;
                    }

                    span {
                        position: relative;
                        font-size: 15px;
                        font-weight: bolder;
                        // top: 5px;
                        left: -10px;
                    }
                }
            }

            form {
                width: 100%;

                input {
                    padding: 8px 10px;
                    width: 100%;
                    border-radius: 5px;
                    color: $black;
                    font-weight: 600;

                    @include placeholder(14px, rgba(0, 0, 0, 0.7));

                }
            }
        }
    }
}
