.social-login {
    display: flex;
    flex-direction: column;

    a {
        button {
            width: 100%;
            min-width: 320px;

            display: flex;
            justify-content: center;
            align-items: center;

            span {
                margin-right: 10px;
                font-size: 15px;
                font-weight: normal;
            }
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.social-login {
    .social-login--github {
        background-color: $black;
        color: white;
    }

    .social-login--facebook {
        background-color: #3a5998;
        color: white;
    }

    .social-login--instagram {
        background-image: linear-gradient(270deg, #BC32A4 0%, #E03768 50%, #F67C33 100%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
}
