extends layouts/main
include mixin/videoBlock

block content
    h1 #{pageTitle}
    .videos
        each item in videos
            +videoBlock({
                id: item["id"],
                videoFile: item["fileUrl"],
                title: item["title"],
                views: item["views"]
            })
