extends layouts/main
block content
    h1 #{pageTitle}
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name", required="true")
            input(type="email", name="email", placeholder="Email", required="true")
            input(type="password", name="password", placeholder="Password", required="true")
            input(type="password", name="password2", placeholder="Verify Password", required="true")
            .form-container__buttons
                button.button-login(type="submit")
                    i.fas.fa-user-plus
                    span Join
                button.button-cancel(type="button")
                    i.far.fa-times-circle
                    span Cancel
        include partials/socialLogin
        