extends layouts/main
block content
    h1 #{pageTitle}
    .form-container
        form(action=routes.join, method="post")
            .form-group
                label(for="name") Name
                input(type="text", name="name", placeholder="Full Name", required="true")
            .form-group
                label(for="email") Email
                input(type="email", name="email", placeholder="Email", required="true")
            .form-group
                label(for="password") Password
                input(type="password", name="password", placeholder="Password", required="true")
            .form-group
                label(for="password2") Verify Password
                input(type="password", name="password2", placeholder="Verify Password", required="true")
            .form-container__buttons
                button.button-login(type="submit")
                    i.fas.fa-user-plus
                    span Join
                a(href=routes.home)    
                    button.button-cancel(type="button")
                        i.far.fa-times-circle
                        span Cancel
        include partials/socialLogin
        