extends layouts/main
include mixin/videoBlock

block content
    h1 #{pageTitle}
    .search__header
        h3 Searching for "#{searchingBy}"
    .search__videos
        each item in videos
            +videoBlock({
                videoFile: item["videoFile"],
                title: item["title"],
                views: item["views"]
            })