extends layouts/main
block content
    h1 #{pageTitle}
    .form-container
        form(action=`/users${routes.userEditProfile}`, id="editForm" method="post")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar")
            input(type="text", name="name", placeholder="Full Name")
            input(type="email", name="email", placeholder="Email")
            button.button-edit-profile(onclick='document.querySelector("#editForm").submit()')
                i.fas.fa-pencil-alt
                span Update Profile
