extends layouts/main
block content
    h1 #{pageTitle}
    .form-container
        form(id="formUCP", action=`${routes.userChangePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="Current Password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password", name="newPassword1", placeholder="Verify New Password")
            button.button-changePassword(onclick="document.querySelector('#formUCP').submit()")
                i.fas.fa-user-lock
                span Change Password
